<div>
<%n=Applicant.find(@loan_payment.applicant_id).first_name%>
<%n=n+ " " +Applicant.find(@loan_payment.applicant_id).last_name%>

<%= link_to 'Applicants', applicants_path %> &gt;
<%= link_to n, {:controller=>"applicants",:action=>"show",:id=>@loan_payment.applicant_id}%>
&gt; Loan Payment
&gt; New

      </div>
<br/>


<h1 class="red">New Loan Payment for
<%=n%>

</h1>

<%= render 'form' %>

<%= link_to 'Back', "/applicants/#{@loan_payment.applicant_id.to_s}" %>
