<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @loan_payment.applicant_id %>
</p>

<p>
  <b>Loan grant:</b>
  <%= @loan_payment.loan_grant_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @loan_payment.amount %>
</p>

<p>
  <b>Comment:</b>
  <%= @loan_payment.comment %>
</p>


<%= link_to 'Edit', edit_loan_payment_path(@loan_payment) %> |
<%= link_to 'Back', loan_payments_path %>
