    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create our data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Type');
      data.addColumn('number', 'Amount In Rupees');
      data.addRows([
        ['Total Donations', <%=Donation.total_fund%>],
        ['Loan Dispersal', <%=LoanGrant.total_grant%>],
        ['Loan Paid Back', <%=LoanPayment.total_loan_return%>],
        ['Loan Defaulters', <%=LoanGrant.total_defaulter%>],
        ['Available Amount', <%=Donation.total_fund-LoanGrant.total_grant%>],
        
      ]);

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, {width: 650, height: 300, backgroundColor: '#EBEAD1'});
      
    }
    </script>
    <div id="chart_div"
         ></div>
