<%if !@loan_grants.nil? and @loan_grants.count!=0 %>
  <%lm=0%>
  <%rm=0%>


  <table width="100%">

    <% @loan_grants.each { |lg|  %>

      <tr>
        <td>
          <span style="width:600px;">
            <span style="width:150px;font-weight: bold;float:left;"><%=lg.created_at.strftime("%d/%m/%Y")%></span>
            <span style="width:100px;float: left"><%="Loan Rs:"+lg.loan_amount.to_s+"/=" if !lg.loan_amount.nil?%></span>
            <span style="width:100px;float: left"><%="Paid Rs:"+lg.returned_amount.to_s+"/=" if !lg.returned_amount.nil?%></span>
          </span>

        </td>
      </tr>
      <tr>
        <td style="border-bottom: solid 1px white"  >
          <span>
          <span style="float: left;"><%=lg.comment%></span>
          <span style="float: right">
<%= link_to 'edit', edit_loan_grant_path(lg) %> &nbsp;
            |&nbsp;
            <%=link_to "new monthly payments", {:controller=>"loan_payments", :action=>"new", :id=>lg.id} %></span>
          </span>
          </td>

      </tr>
      <tr>
        <td >

          <%lp=LoanPayment.find_all_by_loan_grant_id(lg.id)%>
          <%= render :partial=>"loan_payments/loan_payments_list", :locals=>{:loan_payments=>lp} %>
        </td>
      </tr>
    <%}%>


  </table>


<%end%>



