<h1>Listing loan_grants</h1>

<table>
  <tr>
    <th>Applicant</th>
    <th>Loan amount</th>
    <th>Returned amount</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loan_grants.each do |loan_grant| %>
  <tr>
    <td><%= loan_grant.applicant_id %></td>
    <td><%= loan_grant.loan_amount %></td>
    <td><%= loan_grant.returned_amount %></td>
    <td><%= loan_grant.comment %></td>
    <td><%= link_to 'Show', loan_grant %></td>
    <td><%= link_to 'Edit', edit_loan_grant_path(loan_grant) %></td>
    <td><%= link_to 'Destroy', loan_grant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan grant', new_loan_grant_path %>
