<%= form_for(@loan_transaction) do |f| %>
  <% if @loan_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_transaction.errors.count, "error") %> prohibited this loan_transaction from being saved:</h2>

      <ul>
      <% @loan_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= f.hidden_field :applicant_id %>
  <%= f.label :debit, "Amount for loan" %><br />
    <%= f.text_field :debit %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit "save"%>
  </div>
<% end %>
