<p id="notice"><%= notice %></p>

<p>
  <b>Donner:</b>
  <%= @loan_transaction.donner_id %>
</p>

<p>
  <b>Applicant:</b>
  <%= @loan_transaction.applicant_id %>
</p>

<p>
  <b>Debit:</b>
  <%= @loan_transaction.debit %>
</p>

<p>
  <b>Credit:</b>
  <%= @loan_transaction.credit %>
</p>

<p>
  <b>Comment:</b>
  <%= @loan_transaction.comment %>
</p>


<%= link_to 'Edit', edit_loan_transaction_path(@loan_transaction) %> |
<%= link_to 'Back', loan_transactions_path %>
