<h1 class="red">Listing donations</h1>

<table>
  <tr>
    <th>Donner</th>
    <th>Amount</th>
    <th>Received at</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.donner_id %></td>
    <td><%= donation.amount %></td>
    <td><%= donation.received_at %></td>
    <td><%= donation.comment %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donation', new_donation_path %>
