<%= link_to 'Donners', donners_path %> &gt;
<%= link_to Donner.find(params[:id]).full_name, "/donners/"+params[:id] %>
&gt;Donations
&gt;New
<br/><br/>
<h1 class="red">Add new donation by

<%=Donner.find(params[:id]).full_name%>

</h1>
<span style="color: red">
<%=flash[:error]%></span>
<%= render :partial=>'form' %>
<%= link_to 'Back', "/donners/"+params[:id] %>
