<div>

<%= link_to 'Applicants', applicants_path %> &gt;
<%= link_to Applicant.find(params[:id]).full_name, {:controller=>"applicants",:action=>"show",:id=>params[:id]}%>
&gt; Expenditure

      </div>
<br/>

<h1 class="red">Expenditure </h1>
<span class="help"> (Add or delete expenditures for the applicant)</span>

<table >


  <% @expenditures.each do |e| %>
    <tr>

      <td width="200px"><%= e.detail  %></td>
      <td>
        <%= link_to 'del', e, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<span style="color: red"><%=flash[:error]%></span>
<table>
  <tr>
    <td><%= render 'form' %></td>
    <td>&nbsp;&nbsp; <%= link_to 'back', {:controller=>"applicants",:action=>"show",:id=>params[:id]} %></td>
  </tr>
</table>