<!DOCTYPE html>
<html>
  <head>
    <title>Rozgar</title>
    <%= stylesheet_link_tag "default.css" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <!-- start header -->
    <div id="header">
      <div id="logo">
        <h1><a href="#">Rozgar</a></h1>
        <p><a href="#">Islamic micro financing</a></p>
      </div>
      <div id="menu">
        <ul>
          <li><a href="/home.html">Home</a></li>
          <li><a href="/about.html">About Rozgar</a></li>
          <li><a href="/how.html">How Rozgar Works</a></li>
          <li><a href="/loan_dispersal">Loan Dispersal</a></li>
          <li><a href="/contribute.html">Contribute </a></li>
          <li><a href="/contact.html">Contact </a></li>
        </ul>
      </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="wrapper">
      <div id="page">
        <!-- start content -->
        <div id="content">
          <%=yield%>


        </div>
        <!-- end content -->
        <!-- start sidebar -->
        <div id="sidebar">



          <ul>
            <li>
            <%=form_tag :controller=>"site/tracker", :action=>"index" do%>
              <div><span class="meta"><small>Donner's Access Code:</small></span>&nbsp;<span><%=text_field_tag :code %></span>&nbsp;<span><%=submit_tag " search " %></span></div>
            <%end%>
              <span style="color: Red"><%=flash[:error]%></span> 

            </li>
          


          </ul>
        </div>
        <!-- end sidebar -->


        <br style="clear:  both;" />
      </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <div id="wrapper2">
      <div id="footer">

      </div>

    </div>
    <!-- end footer -->


  </body>
</html>
